<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
<body>
  <p>Person</p>
  <div id="person-name"><%= person.fullname %></div>
  <div id="person-age"><%= person.age %></div>
</body>
<!-- <script>
  var name = "<%= person.fullname %>";
  document.getElementById('person-name').innerHTML = name
</script> -->
</html>